<style>
    body,
    html {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        /* Allow footer to stretch to bottom */
    }

    /* Footer styles */
    .sub-footer {
        border-top: 1px solid #eee;
        text-align: center;
        background-color: #1e1e1e;
    }

    .sub-footer p {
        font-size: 20px;
        color: white;
        line-height: 60px;
    }
</style>

<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright-text">
                    <p>BDSE31 H&M Clothing recommendation system</p>
                </div>
            </div>
        </div>
    </div>
</div>