{% include "parts/navbar.html" %}
<link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/carousel.css">

<style>
        body,
        html {
            margin: 0;
            padding: 0;
            background-color: antiquewhite;
        }

        /* Set minimum height to 100% for body to ensure footer stays at bottom */
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            /* Allow footer to stretch to bottom */
        }

        /* Content container */
        .content {
            flex: 1;
            padding-bottom: 60px
                /* Allow content to stretch and push footer to bottom */
        }
        
        .report-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px;
        }

        .report-image {
            max-width: 100%;
            max-height: 100%;
        }
</style>
    <div class="content">
        <br>
        <div>
            <div class="wrapper">
                <a class="slide-arrow" id="slidePrev"><i class="fa-solid fa-arrow-left"></i></a>
                <a class="slide-arrow right" id="slideNext"><i class="fa-solid fa-arrow-right"></i></a>
                <ul class="slide-imgs" id="slideImgs">
                    <li><img src="../static/html_img/carousel1.jpg" alt=""></li>
                    <li><img src="../static/html_img/carousel2.jpg" alt=""></li>
                    <li><img src="../static/html_img/carousel3.jpg" alt=""></li>
                    <li><img src="../static/html_img/carousel4.jpg" alt=""></li>
                    <li><img src="../static/html_img/carousel5.jpg" alt=""></li>
                </ul>
                <ul class="pages">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div style="display: flex;margin-top: 20px;">
            <select class="form-select form-select-lg mb-3" style="width: 200px;margin-left: 100px;">
                <option selected>Report Type 1</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>

            <select class="form-select form-select-lg mb-3" style="width: 200px;margin-left: 100px;">
                <option selected>Report Type 2</option>
                <option value="1">Option A</option>
                <option value="2">Option B</option>
                <option value="3">Option C</option>
            </select>

            <select class="form-select form-select-lg mb-3" style="width: 200px;margin-left: 100px;">
                <option selected>Report Type 3</option>
                <option value="1">Choice X</option>
                <option value="2">Choice Y</option>
                <option value="3">Choice Z</option>
            </select>

        </div>
        <div class="report-container">
            <img src="../static/report_img/product_type_16-22.png" alt="" class="report-image">
        </div>
        <div class="report-container">
            <img src="../static/report_img/product_type_16-22.png" alt="" class="report-image">
        </div>
    </div>>
    {% include "parts/footer.html" %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/bootstrap-5.0.2-dist/js/carousel.js"></script>

{% block script %}
{% include "parts/script.html" %}
{% endblock script %}