{% include "parts/base.html" %}

<script src="{{url_for('static',filename='bootstrap-5.0.2-dist/js/bootstrap.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-5.0.2-dist/css/bootstrap.css')}}">
<style>
    .form-group {
        margin-top: 20px;
        font-size: 24px;
    }
    .welcome-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        /* 表单容器的透明背景 */
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        width: 50%;

    }
    #background {
        background-size: cover;
        /* 背景图像的大小适应容器 */
        height: 100vh;
        /* 设置容器的高度，占满整个视口 */
        background-position: center 0px;
        width: 100%;
        z-index: -1;
        /* 确保背景在最底层 */
    }
  
</style>

<div id="background"></div>
{% block content%}
<div class="content">
    <div class="welcome-container">
            <h3 class="form-group">{{current_user.username}}，歡迎回來</h3>
        </div>
    </div>
</div>
{% include "parts/footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.clouds.min.js"></script>
<script>
    VANTA.CLOUDS({
      el: "#background",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00
    })
    </script>
{% endblock content%}